  
  .PageSlide {
    position: relative;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  .slide {
    position:'relative';
    overflow:'scroll';
    &::-webkit-scrollbar {
      display: "none"
    }
  }

  .Red{
    background-color: red;
  }